$en-path: 'http://www.entypo.com/css/entypo';
$es-path: 'http://www.entypo.com/css/entypo-social';
$ti-path: 'http://typicons.com/media/fonts/typicons-regular-webfont';
$fa-path: 'https://github.com/FortAwesome/Font-Awesome/raw/master/font/fontawesome-webfont';
$el-path: 'http://aristath.github.com/elusive-iconfont/assets/elusive-font/font/Elusive-Icons';

@import '../entypo';
@import '../elusive';
@import '../entypo-social';
@import '../font-awesome';
@import '../typicons';

@include en-font;
@include el-font;
@include fa-font;
@include es-font;
@include ti-font;

// START //
#elusive .icon:before { font-size: 14px; }
.el-briefcase { @include el-icon(briefcase); }
.el-bullhorn { @include el-icon(bullhorn); }
.el-calendar { @include el-icon(calendar); }
.el-calendar-sign { @include el-icon(calendar-sign); }
.el-cog { @include el-icon(cog); }
.el-cog-alt { @include el-icon(cog-alt); }
.el-cogs { @include el-icon(cogs); }
.el-comment { @include el-icon(comment); }
.el-error { @include el-icon(error); }
.el-error-alt { @include el-icon(error-alt); }
.el-exclamation-sign { @include el-icon(exclamation-sign); }
.el-eye-close { @include el-icon(eye-close); }
.el-flag-alt { @include el-icon(flag-alt); }
.el-flickr { @include el-icon(flickr); }
.el-folder { @include el-icon(folder); }
.el-folder-close { @include el-icon(folder-close); }
.el-globe-alt { @include el-icon(globe-alt); }
.el-googleplus { @include el-icon(googleplus); }
.el-graph { @include el-icon(graph); }
.el-graph-alt { @include el-icon(graph-alt); }
.el-idea-alt { @include el-icon(idea-alt); }
.el-inbox { @include el-icon(inbox); }
.el-inbox-alt { @include el-icon(inbox-alt); }
.el-inbox-box { @include el-icon(inbox-box); }
.el-book { @include el-icon(book); }
.el-bookmark { @include el-icon(bookmark); }
.el-bookmark-empty { @include el-icon(bookmark-empty); }
.el-braille { @include el-icon(braille); }
.el-circle-arrow-right { @include el-icon(circle-arrow-right); }
.el-circle-arrow-up { @include el-icon(circle-arrow-up); }
.el-cloud { @include el-icon(cloud); }
.el-cloud-alt { @include el-icon(cloud-alt); }
.el-edit { @include el-icon(edit); }
.el-eject { @include el-icon(eject); }
.el-envelope { @include el-icon(envelope); }
.el-envelope-alt { @include el-icon(envelope-alt); }
.el-film { @include el-icon(film); }
.el-filter { @include el-icon(filter); }
.el-fire { @include el-icon(fire); }
.el-flag { @include el-icon(flag); }
.el-github-text { @include el-icon(github-text); }
.el-glass { @include el-icon(glass); }
.el-glasses { @include el-icon(glasses); }
.el-globe { @include el-icon(globe); }
.el-heart-empty { @include el-icon(heart-empty); }
.el-home { @include el-icon(home); }
.el-home-alt { @include el-icon(home-alt); }
.el-idea { @include el-icon(idea); }
.el-address-book { @include el-icon(address-book); }
.el-address-book-alt { @include el-icon(address-book-alt); }
.el-adjust { @include el-icon(adjust); }
.el-adult { @include el-icon(adult); }
.el-align-center { @include el-icon(align-center); }
.el-align-justify { @include el-icon(align-justify); }
.el-align-left { @include el-icon(align-left); }
.el-align-right { @include el-icon(align-right); }
.el-arrow-down { @include el-icon(arrow-down); }
.el-arrow-left { @include el-icon(arrow-left); }
.el-barcode { @include el-icon(barcode); }
.el-behance { @include el-icon(behance); }
.el-bell { @include el-icon(bell); }
.el-blind { @include el-icon(blind); }
.el-blogger { @include el-icon(blogger); }
.el-bold { @include el-icon(bold); }
.el-chevron-left { @include el-icon(chevron-left); }
.el-chevron-right { @include el-icon(chevron-right); }
.el-chevron-up { @include el-icon(chevron-up); }
.el-child { @include el-icon(child); }
.el-circle-arrow-down { @include el-icon(circle-arrow-down); }
.el-circle-arrow-left { @include el-icon(circle-arrow-left); }
.el-delicious { @include el-icon(delicious); }
.el-deviantart { @include el-icon(deviantart); }
.el-digg { @include el-icon(digg); }
.el-download { @include el-icon(download); }
.el-download-alt { @include el-icon(download-alt); }
.el-dribble { @include el-icon(dribble); }
.el-file { @include el-icon(file); }
.el-file-alt { @include el-icon(file-alt); }
.el-file-edit { @include el-icon(file-edit); }
.el-file-edit-alt { @include el-icon(file-edit-alt); }
.el-file-new { @include el-icon(file-new); }
.el-file-new-alt { @include el-icon(file-new-alt); }
.el-foursquare { @include el-icon(foursquare); }
.el-friendfeed { @include el-icon(friendfeed); }
.el-friendfeed-rect { @include el-icon(friendfeed-rect); }
.el-fullscreen { @include el-icon(fullscreen); }
.el-gift { @include el-icon(gift); }
.el-github { @include el-icon(github); }
.el-hand-up { @include el-icon(hand-up); }
.el-hdd { @include el-icon(hdd); }
.el-headphones { @include el-icon(headphones); }
.el-hearing-impaired { @include el-icon(hearing-impaired); }
.el-heart { @include el-icon(heart); }
.el-heart-alt { @include el-icon(heart-alt); }
.el-arrow-right { @include el-icon(arrow-right); }
.el-arrow-up { @include el-icon(arrow-up); }
.el-asl { @include el-icon(asl); }
.el-asterisk { @include el-icon(asterisk); }
.el-backward { @include el-icon(backward); }
.el-ban-circle { @include el-icon(ban-circle); }
.el-camera { @include el-icon(camera); }
.el-cc { @include el-icon(cc); }
.el-certificate { @include el-icon(certificate); }
.el-check { @include el-icon(check); }
.el-check-empty { @include el-icon(check-empty); }
.el-chevron-down { @include el-icon(chevron-down); }
.el-comment-alt { @include el-icon(comment-alt); }
.el-compass { @include el-icon(compass); }
.el-compass-alt { @include el-icon(compass-alt); }
.el-credit-card { @include el-icon(credit-card); }
.el-css { @include el-icon(css); }
.el-dashboard { @include el-icon(dashboard); }
.el-eye-open { @include el-icon(eye-open); }
.el-facebook { @include el-icon(facebook); }
.el-facetime-video { @include el-icon(facetime-video); }
.el-fast-backward { @include el-icon(fast-backward); }
.el-fast-forward { @include el-icon(fast-forward); }
.el-female { @include el-icon(female); }
.el-folder-open { @include el-icon(folder-open); }
.el-folder-sign { @include el-icon(folder-sign); }
.el-font { @include el-icon(font); }
.el-fontsize { @include el-icon(fontsize); }
.el-forward { @include el-icon(forward); }
.el-forward-alt { @include el-icon(forward-alt); }
.el-group { @include el-icon(group); }
.el-group-alt { @include el-icon(group-alt); }
.el-guidedog { @include el-icon(guidedog); }
.el-hand-down { @include el-icon(hand-down); }
.el-hand-left { @include el-icon(hand-left); }
.el-hand-right { @include el-icon(hand-right); }
.el-indent-left { @include el-icon(indent-left); }
.el-indent-right { @include el-icon(indent-right); }
.el-info-sign { @include el-icon(info-sign); }
.el-instagram { @include el-icon(instagram); }
.el-iphone-home { @include el-icon(iphone-home); }
.el-italic { @include el-icon(italic); }
.el-key { @include el-icon(key); }
.el-laptop { @include el-icon(laptop); }
.el-laptop-alt { @include el-icon(laptop-alt); }
.el-leaf { @include el-icon(leaf); }
.el-linkedin { @include el-icon(linkedin); }
.el-list { @include el-icon(list); }
.el-list-alt { @include el-icon(list-alt); }
.el-lock { @include el-icon(lock); }
.el-lock-alt { @include el-icon(lock-alt); }
.el-magnet { @include el-icon(magnet); }
.el-male { @include el-icon(male); }
.el-map-marker { @include el-icon(map-marker); }
.el-map-marker-alt { @include el-icon(map-marker-alt); }
.el-mic { @include el-icon(mic); }
.el-mic-alt { @include el-icon(mic-alt); }
.el-minus { @include el-icon(minus); }
.el-minus-sign { @include el-icon(minus-sign); }
.el-move { @include el-icon(move); }
.el-music { @include el-icon(music); }
.el-network { @include el-icon(network); }
.el-off { @include el-icon(off); }
.el-ok { @include el-icon(ok); }
.el-ok-circle { @include el-icon(ok-circle); }
.el-ok-sign { @include el-icon(ok-sign); }
.el-paper-clip { @include el-icon(paper-clip); }
.el-paper-clip-alt { @include el-icon(paper-clip-alt); }
.el-path { @include el-icon(path); }
.el-pause { @include el-icon(pause); }
.el-pause-alt { @include el-icon(pause-alt); }
.el-pencil { @include el-icon(pencil); }
.el-pencil-alt { @include el-icon(pencil-alt); }
.el-person { @include el-icon(person); }
.el-phone { @include el-icon(phone); }
.el-phone-alt { @include el-icon(phone-alt); }
.el-photo { @include el-icon(photo); }
.el-photo-alt { @include el-icon(photo-alt); }
.el-picasa { @include el-icon(picasa); }
.el-picture { @include el-icon(picture); }
.el-pinterest { @include el-icon(pinterest); }
.el-plane { @include el-icon(plane); }
.el-play { @include el-icon(play); }
.el-play-alt { @include el-icon(play-alt); }
.el-play-circle { @include el-icon(play-circle); }
.el-plus { @include el-icon(plus); }
.el-plus-sign { @include el-icon(plus-sign); }
.el-print { @include el-icon(print); }
.el-qrcode { @include el-icon(qrcode); }
.el-question { @include el-icon(question); }
.el-question-sign { @include el-icon(question-sign); }
.el-quotes { @include el-icon(quotes); }
.el-quotes-alt { @include el-icon(quotes-alt); }
.el-random { @include el-icon(random); }
.el-record { @include el-icon(record); }
.el-reddit { @include el-icon(reddit); }
.el-refresh { @include el-icon(refresh); }
.el-remove { @include el-icon(remove); }
.el-remove-circle { @include el-icon(remove-circle); }
.el-remove-sign { @include el-icon(remove-sign); }
.el-repeat { @include el-icon(repeat); }
.el-repeat-alt { @include el-icon(repeat-alt); }
.el-resize-full { @include el-icon(resize-full); }
.el-resize-horizontal { @include el-icon(resize-horizontal); }
.el-resize-small { @include el-icon(resize-small); }
.el-resize-vertical { @include el-icon(resize-vertical); }
.el-retweet { @include el-icon(retweet); }
.el-reverse-alt { @include el-icon(reverse-alt); }
.el-road { @include el-icon(road); }
.el-rss { @include el-icon(rss); }
.el-screen { @include el-icon(screen); }
.el-screen-alt { @include el-icon(screen-alt); }
.el-screenshot { @include el-icon(screenshot); }
.el-search { @include el-icon(search); }
.el-search-alt { @include el-icon(search-alt); }
.el-share { @include el-icon(share); }
.el-share-alt { @include el-icon(share-alt); }
.el-shopping-cart { @include el-icon(shopping-cart); }
.el-shopping-cart-sign { @include el-icon(shopping-cart-sign); }
.el-signal { @include el-icon(signal); }
.el-skype { @include el-icon(skype); }
.el-slideshare { @include el-icon(slideshare); }
.el-smiley { @include el-icon(smiley); }
.el-smiley-alt { @include el-icon(smiley-alt); }
.el-speaker { @include el-icon(speaker); }
.el-stackoverflow { @include el-icon(stackoverflow); }
.el-star { @include el-icon(star); }
.el-star-alt { @include el-icon(star-alt); }
.el-star-empty { @include el-icon(star-empty); }
.el-step-backward { @include el-icon(step-backward); }
.el-step-forward { @include el-icon(step-forward); }
.el-stop { @include el-icon(stop); }
.el-stop-alt { @include el-icon(stop-alt); }
.el-stumbleupon { @include el-icon(stumbleupon); }
.el-tag { @include el-icon(tag); }
.el-tags { @include el-icon(tags); }
.el-tasks { @include el-icon(tasks); }
.el-text-height { @include el-icon(text-height); }
.el-text-width { @include el-icon(text-width); }
.el-th { @include el-icon(th); }
.el-th-large { @include el-icon(th-large); }
.el-th-list { @include el-icon(th-list); }
.el-thumbs-down { @include el-icon(thumbs-down); }
.el-thumbs-up { @include el-icon(thumbs-up); }
.el-time { @include el-icon(time); }
.el-time-alt { @include el-icon(time-alt); }
.el-tint { @include el-icon(tint); }
.el-torso { @include el-icon(torso); }
.el-trash { @include el-icon(trash); }
.el-trash-alt { @include el-icon(trash-alt); }
.el-tumblr { @include el-icon(tumblr); }
.el-twitter { @include el-icon(twitter); }
.el-universal-access { @include el-icon(universal-access); }
.el-unlock { @include el-icon(unlock); }
.el-unlock-alt { @include el-icon(unlock-alt); }
.el-upload { @include el-icon(upload); }
.el-user { @include el-icon(user); }
.el-video { @include el-icon(video); }
.el-video-alt { @include el-icon(video-alt); }
.el-video-chat { @include el-icon(video-chat); }
.el-view-mode { @include el-icon(view-mode); }
.el-vimeo { @include el-icon(vimeo); }
.el-volume-down { @include el-icon(volume-down); }
.el-volume-off { @include el-icon(volume-off); }
.el-volume-up { @include el-icon(volume-up); }
.el-w3c { @include el-icon(w3c); }
.el-warning-sign { @include el-icon(warning-sign); }
.el-website { @include el-icon(website); }
.el-website-alt { @include el-icon(website-alt); }
.el-wheelchair { @include el-icon(wheelchair); }
.el-wordpress { @include el-icon(wordpress); }
.el-wrench { @include el-icon(wrench); }
.el-wrench-alt { @include el-icon(wrench-alt); }
.el-youtube { @include el-icon(youtube); }
.el-zoom-in { @include el-icon(zoom-in); }
.el-zoom-out { @include el-icon(zoom-out); }
.el-vkontakte { @include el-icon(vkontakte); }
#entypo-social .icon:before { font-size: 40px; }
.es-github { @include es-icon(github); }
.es-c-github { @include es-icon(c-github); }
.es-flickr { @include es-icon(flickr); }
.es-c-flickr { @include es-icon(c-flickr); }
.es-vimeo { @include es-icon(vimeo); }
.es-c-vimeo { @include es-icon(c-vimeo); }
.es-twitter { @include es-icon(twitter); }
.es-c-twitter { @include es-icon(c-twitter); }
.es-facebook { @include es-icon(facebook); }
.es-c-facebook { @include es-icon(c-facebook); }
.es-s-facebook { @include es-icon(s-facebook); }
.es-google-plus { @include es-icon(google-plus); }
.es-c-google-plus { @include es-icon(c-google-plus); }
.es-pinterest { @include es-icon(pinterest); }
.es-c-pinterest { @include es-icon(c-pinterest); }
.es-tumblr { @include es-icon(tumblr); }
.es-c-tumblr { @include es-icon(c-tumblr); }
.es-linkedin { @include es-icon(linkedin); }
.es-c-linkedin { @include es-icon(c-linkedin); }
.es-dribbble { @include es-icon(dribbble); }
.es-c-dribbble { @include es-icon(c-dribbble); }
.es-stumbleupon { @include es-icon(stumbleupon); }
.es-c-stumbleupon { @include es-icon(c-stumbleupon); }
.es-lastfm { @include es-icon(lastfm); }
.es-c-lastfm { @include es-icon(c-lastfm); }
.es-rdio { @include es-icon(rdio); }
.es-c-rdio { @include es-icon(c-rdio); }
.es-spotify { @include es-icon(spotify); }
.es-c-spotify { @include es-icon(c-spotify); }
.es-qq { @include es-icon(qq); }
.es-instagram { @include es-icon(instagram); }
.es-dropbox { @include es-icon(dropbox); }
.es-evernote { @include es-icon(evernote); }
.es-flattr { @include es-icon(flattr); }
.es-skype { @include es-icon(skype); }
.es-c-skype { @include es-icon(c-skype); }
.es-renren { @include es-icon(renren); }
.es-sina-weibo { @include es-icon(sina-weibo); }
.es-paypal { @include es-icon(paypal); }
.es-picasa { @include es-icon(picasa); }
.es-soundcloud { @include es-icon(soundcloud); }
.es-mixi { @include es-icon(mixi); }
.es-behance { @include es-icon(behance); }
.es-google-circles { @include es-icon(google-circles); }
.es-vk { @include es-icon(vk); }
.es-smashing { @include es-icon(smashing); }
#entypo .icon:before { font-size: 40px; }
.en-phone { @include en-icon(phone); }
.en-mobile { @include en-icon(mobile); }
.en-mouse { @include en-icon(mouse); }
.en-address { @include en-icon(address); }
.en-mail { @include en-icon(mail); }
.en-paper-plane { @include en-icon(paper-plane); }
.en-pencil { @include en-icon(pencil); }
.en-feather { @include en-icon(feather); }
.en-attach { @include en-icon(attach); }
.en-inbox { @include en-icon(inbox); }
.en-reply { @include en-icon(reply); }
.en-reply-all { @include en-icon(reply-all); }
.en-forward { @include en-icon(forward); }
.en-user { @include en-icon(user); }
.en-users { @include en-icon(users); }
.en-add-user { @include en-icon(add-user); }
.en-vcard { @include en-icon(vcard); }
.en-export { @include en-icon(export); }
.en-location { @include en-icon(location); }
.en-map { @include en-icon(map); }
.en-compass { @include en-icon(compass); }
.en-direction { @include en-icon(direction); }
.en-hair-cross { @include en-icon(hair-cross); }
.en-share { @include en-icon(share); }
.en-shareable { @include en-icon(shareable); }
.en-heart { @include en-icon(heart); }
.en-heart-empty { @include en-icon(heart-empty); }
.en-star { @include en-icon(star); }
.en-star-empty { @include en-icon(star-empty); }
.en-thumbs-up { @include en-icon(thumbs-up); }
.en-thumbs-down { @include en-icon(thumbs-down); }
.en-chat { @include en-icon(chat); }
.en-comment { @include en-icon(comment); }
.en-quote { @include en-icon(quote); }
.en-home { @include en-icon(home); }
.en-popup { @include en-icon(popup); }
.en-search { @include en-icon(search); }
.en-flashlight { @include en-icon(flashlight); }
.en-print { @include en-icon(print); }
.en-bell { @include en-icon(bell); }
.en-link { @include en-icon(link); }
.en-flag { @include en-icon(flag); }
.en-cog { @include en-icon(cog); }
.en-tools { @include en-icon(tools); }
.en-trophy { @include en-icon(trophy); }
.en-tag { @include en-icon(tag); }
.en-camera { @include en-icon(camera); }
.en-megaphone { @include en-icon(megaphone); }
.en-moon { @include en-icon(moon); }
.en-palette { @include en-icon(palette); }
.en-leaf { @include en-icon(leaf); }
.en-note { @include en-icon(note); }
.en-beamed-note { @include en-icon(beamed-note); }
.en-new { @include en-icon(new); }
.en-graduation-cap { @include en-icon(graduation-cap); }
.en-book { @include en-icon(book); }
.en-newspaper { @include en-icon(newspaper); }
.en-bag { @include en-icon(bag); }
.en-airplane { @include en-icon(airplane); }
.en-lifebuoy { @include en-icon(lifebuoy); }
.en-eye { @include en-icon(eye); }
.en-clock { @include en-icon(clock); }
.en-mic { @include en-icon(mic); }
.en-calendar { @include en-icon(calendar); }
.en-flash { @include en-icon(flash); }
.en-thunder-cloud { @include en-icon(thunder-cloud); }
.en-droplet { @include en-icon(droplet); }
.en-cd { @include en-icon(cd); }
.en-briefcase { @include en-icon(briefcase); }
.en-air { @include en-icon(air); }
.en-hourglass { @include en-icon(hourglass); }
.en-gauge { @include en-icon(gauge); }
.en-language { @include en-icon(language); }
.en-network { @include en-icon(network); }
.en-key { @include en-icon(key); }
.en-battery { @include en-icon(battery); }
.en-bucket { @include en-icon(bucket); }
.en-magnet { @include en-icon(magnet); }
.en-drive { @include en-icon(drive); }
.en-cup { @include en-icon(cup); }
.en-rocket { @include en-icon(rocket); }
.en-brush { @include en-icon(brush); }
.en-suitcase { @include en-icon(suitcase); }
.en-traffic-cone { @include en-icon(traffic-cone); }
.en-globe { @include en-icon(globe); }
.en-keyboard { @include en-icon(keyboard); }
.en-browser { @include en-icon(browser); }
.en-publish { @include en-icon(publish); }
.en-progress-3 { @include en-icon(progress-3); }
.en-progress-2 { @include en-icon(progress-2); }
.en-progress-1 { @include en-icon(progress-1); }
.en-progress-0 { @include en-icon(progress-0); }
.en-light-down { @include en-icon(light-down); }
.en-light-up { @include en-icon(light-up); }
.en-adjust { @include en-icon(adjust); }
.en-code { @include en-icon(code); }
.en-monitor { @include en-icon(monitor); }
.en-infinity { @include en-icon(infinity); }
.en-light-bulb { @include en-icon(light-bulb); }
.en-credit-card { @include en-icon(credit-card); }
.en-database { @include en-icon(database); }
.en-voicemail { @include en-icon(voicemail); }
.en-clipboard { @include en-icon(clipboard); }
.en-cart { @include en-icon(cart); }
.en-box { @include en-icon(box); }
.en-ticket { @include en-icon(ticket); }
.en-rss { @include en-icon(rss); }
.en-signal { @include en-icon(signal); }
.en-thermometer { @include en-icon(thermometer); }
.en-water { @include en-icon(water); }
.en-sweden { @include en-icon(sweden); }
.en-line-graph { @include en-icon(line-graph); }
.en-pie-chart { @include en-icon(pie-chart); }
.en-bar-graph { @include en-icon(bar-graph); }
.en-area-graph { @include en-icon(area-graph); }
.en-lock { @include en-icon(lock); }
.en-lock-open { @include en-icon(lock-open); }
.en-logout { @include en-icon(logout); }
.en-login { @include en-icon(login); }
.en-check { @include en-icon(check); }
.en-cross { @include en-icon(cross); }
.en-squared-minus { @include en-icon(squared-minus); }
.en-squared-plus { @include en-icon(squared-plus); }
.en-squared-cross { @include en-icon(squared-cross); }
.en-circled-minus { @include en-icon(circled-minus); }
.en-circled-plus { @include en-icon(circled-plus); }
.en-circled-cross { @include en-icon(circled-cross); }
.en-minus { @include en-icon(minus); }
.en-plus { @include en-icon(plus); }
.en-erase { @include en-icon(erase); }
.en-block { @include en-icon(block); }
.en-info { @include en-icon(info); }
.en-circled-info { @include en-icon(circled-info); }
.en-help { @include en-icon(help); }
.en-circled-help { @include en-icon(circled-help); }
.en-warning { @include en-icon(warning); }
.en-cycle { @include en-icon(cycle); }
.en-cw { @include en-icon(cw); }
.en-ccw { @include en-icon(ccw); }
.en-shuffle { @include en-icon(shuffle); }
.en-back { @include en-icon(back); }
.en-level-down { @include en-icon(level-down); }
.en-retweet { @include en-icon(retweet); }
.en-loop { @include en-icon(loop); }
.en-back-in-time { @include en-icon(back-in-time); }
.en-level-up { @include en-icon(level-up); }
.en-switch { @include en-icon(switch); }
.en-numbered-list { @include en-icon(numbered-list); }
.en-add-to-list { @include en-icon(add-to-list); }
.en-layout { @include en-icon(layout); }
.en-list { @include en-icon(list); }
.en-text-doc { @include en-icon(text-doc); }
.en-text-doc-inverted { @include en-icon(text-doc-inverted); }
.en-doc { @include en-icon(doc); }
.en-docs { @include en-icon(docs); }
.en-landscape-doc { @include en-icon(landscape-doc); }
.en-picture { @include en-icon(picture); }
.en-video { @include en-icon(video); }
.en-music { @include en-icon(music); }
.en-folder { @include en-icon(folder); }
.en-archive { @include en-icon(archive); }
.en-trash { @include en-icon(trash); }
.en-upload { @include en-icon(upload); }
.en-download { @include en-icon(download); }
.en-save { @include en-icon(save); }
.en-install { @include en-icon(install); }
.en-cloud { @include en-icon(cloud); }
.en-upload-cloud { @include en-icon(upload-cloud); }
.en-bookmark { @include en-icon(bookmark); }
.en-bookmarks { @include en-icon(bookmarks); }
.en-open-book { @include en-icon(open-book); }
.en-play { @include en-icon(play); }
.en-pause { @include en-icon(pause); }
.en-record { @include en-icon(record); }
.en-stop { @include en-icon(stop); }
.en-ff { @include en-icon(ff); }
.en-fb { @include en-icon(fb); }
.en-to-start { @include en-icon(to-start); }
.en-to-end { @include en-icon(to-end); }
.en-resize-full { @include en-icon(resize-full); }
.en-resize-small { @include en-icon(resize-small); }
.en-volume { @include en-icon(volume); }
.en-sound { @include en-icon(sound); }
.en-mute { @include en-icon(mute); }
.en-flow-cascade { @include en-icon(flow-cascade); }
.en-flow-branch { @include en-icon(flow-branch); }
.en-flow-tree { @include en-icon(flow-tree); }
.en-flow-line { @include en-icon(flow-line); }
.en-flow-parallel { @include en-icon(flow-parallel); }
.en-left-bold { @include en-icon(left-bold); }
.en-down-bold { @include en-icon(down-bold); }
.en-up-bold { @include en-icon(up-bold); }
.en-right-bold { @include en-icon(right-bold); }
.en-left { @include en-icon(left); }
.en-down { @include en-icon(down); }
.en-up { @include en-icon(up); }
.en-right { @include en-icon(right); }
.en-circled-left { @include en-icon(circled-left); }
.en-circled-down { @include en-icon(circled-down); }
.en-circled-up { @include en-icon(circled-up); }
.en-circled-right { @include en-icon(circled-right); }
.en-triangle-left { @include en-icon(triangle-left); }
.en-triangle-down { @include en-icon(triangle-down); }
.en-triangle-up { @include en-icon(triangle-up); }
.en-triangle-right { @include en-icon(triangle-right); }
.en-chevron-left { @include en-icon(chevron-left); }
.en-chevron-down { @include en-icon(chevron-down); }
.en-chevron-up { @include en-icon(chevron-up); }
.en-chevron-right { @include en-icon(chevron-right); }
.en-chevron-small-left { @include en-icon(chevron-small-left); }
.en-chevron-small-down { @include en-icon(chevron-small-down); }
.en-chevron-small-up { @include en-icon(chevron-small-up); }
.en-chevron-small-right { @include en-icon(chevron-small-right); }
.en-chevron-thin-left { @include en-icon(chevron-thin-left); }
.en-chevron-thin-down { @include en-icon(chevron-thin-down); }
.en-chevron-thin-up { @include en-icon(chevron-thin-up); }
.en-chevron-thin-right { @include en-icon(chevron-thin-right); }
.en-left-thin { @include en-icon(left-thin); }
.en-down-thin { @include en-icon(down-thin); }
.en-up-thin { @include en-icon(up-thin); }
.en-right-thin { @include en-icon(right-thin); }
.en-arrow-combo { @include en-icon(arrow-combo); }
.en-three-dots { @include en-icon(three-dots); }
.en-two-dots { @include en-icon(two-dots); }
.en-dot { @include en-icon(dot); }
.en-cc { @include en-icon(cc); }
.en-cc-by { @include en-icon(cc-by); }
.en-cc-nc { @include en-icon(cc-nc); }
.en-cc-nc-eu { @include en-icon(cc-nc-eu); }
.en-cc-nc-jp { @include en-icon(cc-nc-jp); }
.en-cc-sa { @include en-icon(cc-sa); }
.en-cc-nd { @include en-icon(cc-nd); }
.en-cc-pd { @include en-icon(cc-pd); }
.en-cc-zero { @include en-icon(cc-zero); }
.en-cc-share { @include en-icon(cc-share); }
.en-cc-remix { @include en-icon(cc-remix); }
.en-db-logo { @include en-icon(db-logo); }
.en-db-shape { @include en-icon(db-shape); }
#font-awesome .icon:before { font-size: 14px; }
.fa-glass { @include fa-icon(glass); }
.fa-music { @include fa-icon(music); }
.fa-search { @include fa-icon(search); }
.fa-envelope { @include fa-icon(envelope); }
.fa-heart { @include fa-icon(heart); }
.fa-star { @include fa-icon(star); }
.fa-star-empty { @include fa-icon(star-empty); }
.fa-user { @include fa-icon(user); }
.fa-film { @include fa-icon(film); }
.fa-th-large { @include fa-icon(th-large); }
.fa-th { @include fa-icon(th); }
.fa-th-list { @include fa-icon(th-list); }
.fa-ok { @include fa-icon(ok); }
.fa-remove { @include fa-icon(remove); }
.fa-zoom-in { @include fa-icon(zoom-in); }
.fa-zoom-out { @include fa-icon(zoom-out); }
.fa-off { @include fa-icon(off); }
.fa-signal { @include fa-icon(signal); }
.fa-cog { @include fa-icon(cog); }
.fa-trash { @include fa-icon(trash); }
.fa-home { @include fa-icon(home); }
.fa-file { @include fa-icon(file); }
.fa-time { @include fa-icon(time); }
.fa-road { @include fa-icon(road); }
.fa-download-alt { @include fa-icon(download-alt); }
.fa-download { @include fa-icon(download); }
.fa-upload { @include fa-icon(upload); }
.fa-inbox { @include fa-icon(inbox); }
.fa-play-circle { @include fa-icon(play-circle); }
.fa-repeat { @include fa-icon(repeat); }
.fa-refresh { @include fa-icon(refresh); }
.fa-list-alt { @include fa-icon(list-alt); }
.fa-lock { @include fa-icon(lock); }
.fa-flag { @include fa-icon(flag); }
.fa-headphones { @include fa-icon(headphones); }
.fa-volume-off { @include fa-icon(volume-off); }
.fa-volume-down { @include fa-icon(volume-down); }
.fa-volume-up { @include fa-icon(volume-up); }
.fa-qrcode { @include fa-icon(qrcode); }
.fa-barcode { @include fa-icon(barcode); }
.fa-tag { @include fa-icon(tag); }
.fa-tags { @include fa-icon(tags); }
.fa-book { @include fa-icon(book); }
.fa-bookmark { @include fa-icon(bookmark); }
.fa-print { @include fa-icon(print); }
.fa-camera { @include fa-icon(camera); }
.fa-font { @include fa-icon(font); }
.fa-bold { @include fa-icon(bold); }
.fa-italic { @include fa-icon(italic); }
.fa-text-height { @include fa-icon(text-height); }
.fa-text-width { @include fa-icon(text-width); }
.fa-align-left { @include fa-icon(align-left); }
.fa-align-center { @include fa-icon(align-center); }
.fa-align-right { @include fa-icon(align-right); }
.fa-align-justify { @include fa-icon(align-justify); }
.fa-list { @include fa-icon(list); }
.fa-indent-left { @include fa-icon(indent-left); }
.fa-indent-right { @include fa-icon(indent-right); }
.fa-facetime-video { @include fa-icon(facetime-video); }
.fa-picture { @include fa-icon(picture); }
.fa-pencil { @include fa-icon(pencil); }
.fa-map-marker { @include fa-icon(map-marker); }
.fa-adjust { @include fa-icon(adjust); }
.fa-tint { @include fa-icon(tint); }
.fa-edit { @include fa-icon(edit); }
.fa-share { @include fa-icon(share); }
.fa-check { @include fa-icon(check); }
.fa-move { @include fa-icon(move); }
.fa-step-backward { @include fa-icon(step-backward); }
.fa-fast-backward { @include fa-icon(fast-backward); }
.fa-backward { @include fa-icon(backward); }
.fa-play { @include fa-icon(play); }
.fa-pause { @include fa-icon(pause); }
.fa-stop { @include fa-icon(stop); }
.fa-forward { @include fa-icon(forward); }
.fa-fast-forward { @include fa-icon(fast-forward); }
.fa-step-forward { @include fa-icon(step-forward); }
.fa-eject { @include fa-icon(eject); }
.fa-chevron-left { @include fa-icon(chevron-left); }
.fa-chevron-right { @include fa-icon(chevron-right); }
.fa-plus-sign { @include fa-icon(plus-sign); }
.fa-minus-sign { @include fa-icon(minus-sign); }
.fa-remove-sign { @include fa-icon(remove-sign); }
.fa-ok-sign { @include fa-icon(ok-sign); }
.fa-question-sign { @include fa-icon(question-sign); }
.fa-info-sign { @include fa-icon(info-sign); }
.fa-screenshot { @include fa-icon(screenshot); }
.fa-remove-circle { @include fa-icon(remove-circle); }
.fa-ok-circle { @include fa-icon(ok-circle); }
.fa-ban-circle { @include fa-icon(ban-circle); }
.fa-arrow-left { @include fa-icon(arrow-left); }
.fa-arrow-right { @include fa-icon(arrow-right); }
.fa-arrow-up { @include fa-icon(arrow-up); }
.fa-arrow-down { @include fa-icon(arrow-down); }
.fa-share-alt { @include fa-icon(share-alt); }
.fa-resize-full { @include fa-icon(resize-full); }
.fa-resize-small { @include fa-icon(resize-small); }
.fa-plus { @include fa-icon(plus); }
.fa-minus { @include fa-icon(minus); }
.fa-asterisk { @include fa-icon(asterisk); }
.fa-exclamation-sign { @include fa-icon(exclamation-sign); }
.fa-gift { @include fa-icon(gift); }
.fa-leaf { @include fa-icon(leaf); }
.fa-fire { @include fa-icon(fire); }
.fa-eye-open { @include fa-icon(eye-open); }
.fa-eye-close { @include fa-icon(eye-close); }
.fa-warning-sign { @include fa-icon(warning-sign); }
.fa-plane { @include fa-icon(plane); }
.fa-calendar { @include fa-icon(calendar); }
.fa-random { @include fa-icon(random); }
.fa-comment { @include fa-icon(comment); }
.fa-magnet { @include fa-icon(magnet); }
.fa-chevron-up { @include fa-icon(chevron-up); }
.fa-chevron-down { @include fa-icon(chevron-down); }
.fa-retweet { @include fa-icon(retweet); }
.fa-shopping-cart { @include fa-icon(shopping-cart); }
.fa-folder-close { @include fa-icon(folder-close); }
.fa-folder-open { @include fa-icon(folder-open); }
.fa-resize-vertical { @include fa-icon(resize-vertical); }
.fa-resize-horizontal { @include fa-icon(resize-horizontal); }
.fa-bar-chart { @include fa-icon(bar-chart); }
.fa-twitter-sign { @include fa-icon(twitter-sign); }
.fa-facebook-sign { @include fa-icon(facebook-sign); }
.fa-camera-retro { @include fa-icon(camera-retro); }
.fa-key { @include fa-icon(key); }
.fa-cogs { @include fa-icon(cogs); }
.fa-comments { @include fa-icon(comments); }
.fa-thumbs-up { @include fa-icon(thumbs-up); }
.fa-thumbs-down { @include fa-icon(thumbs-down); }
.fa-star-half { @include fa-icon(star-half); }
.fa-heart-empty { @include fa-icon(heart-empty); }
.fa-signout { @include fa-icon(signout); }
.fa-linkedin-sign { @include fa-icon(linkedin-sign); }
.fa-pushpin { @include fa-icon(pushpin); }
.fa-external-link { @include fa-icon(external-link); }
.fa-signin { @include fa-icon(signin); }
.fa-trophy { @include fa-icon(trophy); }
.fa-github-sign { @include fa-icon(github-sign); }
.fa-upload-alt { @include fa-icon(upload-alt); }
.fa-lemon { @include fa-icon(lemon); }
.fa-phone { @include fa-icon(phone); }
.fa-check-empty { @include fa-icon(check-empty); }
.fa-bookmark-empty { @include fa-icon(bookmark-empty); }
.fa-phone-sign { @include fa-icon(phone-sign); }
.fa-twitter { @include fa-icon(twitter); }
.fa-facebook { @include fa-icon(facebook); }
.fa-github { @include fa-icon(github); }
.fa-unlock { @include fa-icon(unlock); }
.fa-credit-card { @include fa-icon(credit-card); }
.fa-rss { @include fa-icon(rss); }
.fa-hdd { @include fa-icon(hdd); }
.fa-bullhorn { @include fa-icon(bullhorn); }
.fa-bell { @include fa-icon(bell); }
.fa-certificate { @include fa-icon(certificate); }
.fa-hand-right { @include fa-icon(hand-right); }
.fa-hand-left { @include fa-icon(hand-left); }
.fa-hand-up { @include fa-icon(hand-up); }
.fa-hand-down { @include fa-icon(hand-down); }
.fa-circle-arrow-left { @include fa-icon(circle-arrow-left); }
.fa-circle-arrow-right { @include fa-icon(circle-arrow-right); }
.fa-circle-arrow-up { @include fa-icon(circle-arrow-up); }
.fa-circle-arrow-down { @include fa-icon(circle-arrow-down); }
.fa-globe { @include fa-icon(globe); }
.fa-wrench { @include fa-icon(wrench); }
.fa-tasks { @include fa-icon(tasks); }
.fa-filter { @include fa-icon(filter); }
.fa-briefcase { @include fa-icon(briefcase); }
.fa-fullscreen { @include fa-icon(fullscreen); }
.fa-group { @include fa-icon(group); }
.fa-link { @include fa-icon(link); }
.fa-cloud { @include fa-icon(cloud); }
.fa-beaker { @include fa-icon(beaker); }
.fa-cut { @include fa-icon(cut); }
.fa-copy { @include fa-icon(copy); }
.fa-paper-clip { @include fa-icon(paper-clip); }
.fa-save { @include fa-icon(save); }
.fa-sign-blank { @include fa-icon(sign-blank); }
.fa-reorder { @include fa-icon(reorder); }
.fa-list-ul { @include fa-icon(list-ul); }
.fa-list-ol { @include fa-icon(list-ol); }
.fa-strikethrough { @include fa-icon(strikethrough); }
.fa-underline { @include fa-icon(underline); }
.fa-table { @include fa-icon(table); }
.fa-magic { @include fa-icon(magic); }
.fa-truck { @include fa-icon(truck); }
.fa-pinterest { @include fa-icon(pinterest); }
.fa-pinterest-sign { @include fa-icon(pinterest-sign); }
.fa-google-plus-sign { @include fa-icon(google-plus-sign); }
.fa-google-plus { @include fa-icon(google-plus); }
.fa-money { @include fa-icon(money); }
.fa-caret-down { @include fa-icon(caret-down); }
.fa-caret-up { @include fa-icon(caret-up); }
.fa-caret-left { @include fa-icon(caret-left); }
.fa-caret-right { @include fa-icon(caret-right); }
.fa-columns { @include fa-icon(columns); }
.fa-sort { @include fa-icon(sort); }
.fa-sort-down { @include fa-icon(sort-down); }
.fa-sort-up { @include fa-icon(sort-up); }
.fa-envelope-alt { @include fa-icon(envelope-alt); }
.fa-linkedin { @include fa-icon(linkedin); }
.fa-undo { @include fa-icon(undo); }
.fa-legal { @include fa-icon(legal); }
.fa-dashboard { @include fa-icon(dashboard); }
.fa-comment-alt { @include fa-icon(comment-alt); }
.fa-comments-alt { @include fa-icon(comments-alt); }
.fa-bolt { @include fa-icon(bolt); }
.fa-sitemap { @include fa-icon(sitemap); }
.fa-umbrella { @include fa-icon(umbrella); }
.fa-paste { @include fa-icon(paste); }
.fa-lightbulb { @include fa-icon(lightbulb); }
.fa-exchange { @include fa-icon(exchange); }
.fa-cloud-download { @include fa-icon(cloud-download); }
.fa-cloud-upload { @include fa-icon(cloud-upload); }
.fa-user-md { @include fa-icon(user-md); }
.fa-stethoscope { @include fa-icon(stethoscope); }
.fa-suitcase { @include fa-icon(suitcase); }
.fa-bell-alt { @include fa-icon(bell-alt); }
.fa-coffee { @include fa-icon(coffee); }
.fa-food { @include fa-icon(food); }
.fa-file-alt { @include fa-icon(file-alt); }
.fa-building { @include fa-icon(building); }
.fa-hospital { @include fa-icon(hospital); }
.fa-ambulance { @include fa-icon(ambulance); }
.fa-medkit { @include fa-icon(medkit); }
.fa-fighter-jet { @include fa-icon(fighter-jet); }
.fa-beer { @include fa-icon(beer); }
.fa-h-sign { @include fa-icon(h-sign); }
.fa-plus-sign-alt { @include fa-icon(plus-sign-alt); }
.fa-double-angle-left { @include fa-icon(double-angle-left); }
.fa-double-angle-right { @include fa-icon(double-angle-right); }
.fa-double-angle-up { @include fa-icon(double-angle-up); }
.fa-double-angle-down { @include fa-icon(double-angle-down); }
.fa-angle-left { @include fa-icon(angle-left); }
.fa-angle-right { @include fa-icon(angle-right); }
.fa-angle-up { @include fa-icon(angle-up); }
.fa-angle-down { @include fa-icon(angle-down); }
.fa-desktop { @include fa-icon(desktop); }
.fa-laptop { @include fa-icon(laptop); }
.fa-tablet { @include fa-icon(tablet); }
.fa-mobile-phone { @include fa-icon(mobile-phone); }
.fa-circle-blank { @include fa-icon(circle-blank); }
.fa-quote-left { @include fa-icon(quote-left); }
.fa-quote-right { @include fa-icon(quote-right); }
.fa-spinner { @include fa-icon(spinner); }
.fa-circle { @include fa-icon(circle); }
.fa-reply { @include fa-icon(reply); }
.fa-github-alt { @include fa-icon(github-alt); }
.fa-folder-close-alt { @include fa-icon(folder-close-alt); }
.fa-folder-open-alt { @include fa-icon(folder-open-alt); }
#typicons .icon:before { font-size: 24px; }
.ti-location { @include ti-icon(location); }
.ti-phone { @include ti-icon(phone); }
.ti-home { @include ti-icon(home); }
.ti-camera { @include ti-icon(camera); }
.ti-left { @include ti-icon(left); }
.ti-right { @include ti-icon(right); }
.ti-up { @include ti-icon(up); }
.ti-down { @include ti-icon(down); }
.ti-refresh { @include ti-icon(refresh); }
.ti-sync { @include ti-icon(sync); }
.ti-loop { @include ti-icon(loop); }
.ti-repeat { @include ti-icon(repeat); }
.ti-shuffle { @include ti-icon(shuffle); }
.ti-rss { @include ti-icon(rss); }
.ti-cog { @include ti-icon(cog); }
.ti-spanner { @include ti-icon(spanner); }
.ti-bar-chart { @include ti-icon(bar-chart); }
.ti-pie-chart { @include ti-icon(pie-chart); }
.ti-line-chart { @include ti-icon(line-chart); }
.ti-views { @include ti-icon(views); }
.ti-zoom-in { @include ti-icon(zoom-in); }
.ti-zoom-out { @include ti-icon(zoom-out); }
.ti-export { @include ti-icon(export); }
.ti-user { @include ti-icon(user); }
.ti-group { @include ti-icon(group); }
.ti-microphone { @include ti-icon(microphone); }
.ti-globe { @include ti-icon(globe); }
.ti-thumbs-up { @include ti-icon(thumbs-up); }
.ti-thumbs-down { @include ti-icon(thumbs-down); }
.ti-tag { @include ti-icon(tag); }
.ti-tab { @include ti-icon(tab); }
.ti-warning { @include ti-icon(warning); }
.ti-tick { @include ti-icon(tick); }
.ti-beta { @include ti-icon(beta); }
.ti-unlock { @include ti-icon(unlock); }
.ti-lock { @include ti-icon(lock); }
.ti-eject { @include ti-icon(eject); }
.ti-move { @include ti-icon(move); }
.ti-expand { @include ti-icon(expand); }
.ti-cancel { @include ti-icon(cancel); }
.ti-power { @include ti-icon(power); }
.ti-compass { @include ti-icon(compass); }
.ti-radar { @include ti-icon(radar); }
.ti-directions { @include ti-icon(directions); }
.ti-pin { @include ti-icon(pin); }
.ti-mute { @include ti-icon(mute); }
.ti-volume { @include ti-icon(volume); }
.ti-world { @include ti-icon(world); }
.ti-write { @include ti-icon(write); }
.ti-minus { @include ti-icon(minus); }
.ti-equals { @include ti-icon(equals); }
.ti-feed { @include ti-icon(feed); }
.ti-battery-none { @include ti-icon(battery-none); }
.ti-battery-low { @include ti-icon(battery-low); }
.ti-battery-mid { @include ti-icon(battery-mid); }
.ti-battery-high { @include ti-icon(battery-high); }
.ti-battery-power { @include ti-icon(battery-power); }
.ti-plus { @include ti-icon(plus); }
.ti-times { @include ti-icon(times); }
.ti-next { @include ti-icon(next); }
.ti-previous { @include ti-icon(previous); }
.ti-edit { @include ti-icon(edit); }
.ti-cut { @include ti-icon(cut); }
.ti-anchor { @include ti-icon(anchor); }
.ti-bookmark { @include ti-icon(bookmark); }
.ti-music { @include ti-icon(music); }
.ti-puzzle { @include ti-icon(puzzle); }
.ti-archive { @include ti-icon(archive); }
.ti-mobile { @include ti-icon(mobile); }
.ti-contrast { @include ti-icon(contrast); }
.ti-brightness { @include ti-icon(brightness); }
.ti-flag { @include ti-icon(flag); }
.ti-info { @include ti-icon(info); }
.ti-unknown { @include ti-icon(unknown); }
.ti-chat { @include ti-icon(chat); }
.ti-mail { @include ti-icon(mail); }
.ti-message { @include ti-icon(message); }
.ti-delete { @include ti-icon(delete); }
.ti-backspace { @include ti-icon(backspace); }
.ti-infinity { @include ti-icon(infinity); }
.ti-key { @include ti-icon(key); }
.ti-time { @include ti-icon(time); }
.ti-grid { @include ti-icon(grid); }
.ti-list { @include ti-icon(list); }
.ti-heart { @include ti-icon(heart); }
.ti-star { @include ti-icon(star); }
.ti-back { @include ti-icon(back); }
.ti-forward { @include ti-icon(forward); }
// END //
